.services h1{
    padding-top: 6rem;
    color: var(--off-white);
    font-size: 3.5rem;
}

.cardContainer {
    padding-top: 3rem;
}

.paddingContainer h2, p {
    color: var(--off-white);
}
.paddingContainer p {
    padding-top: 1rem;
}

.paddingContainer {
    padding: 2rem;
    background-color: var(--darkblue);
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 15px var(--darkblue);
}

.DFlexContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 3rem;
}

@media (max-width: 768px) {
    .DFlexContainer {
        display: block;
        gap: 2rem;
        justify-content: center;
        padding: 3rem;
    }
}