
.cardContainer {
    padding-top: 3rem;
    cursor: pointer;
    transition:0.3s;
}
.cardContainer:hover {
    transform: scale(103%);
}

.paddingContainer h2, p {
    color: var(--off-white);
}
.paddingContainer p {
    padding-top: 1rem;
}

.paddingContainer {
    padding: 2rem;
    background-color: var(--darkblue);
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 10px 15px var(--darkblue);
}


.iconContainer {
    padding: 2rem;
}

.icon{
    width: 100%;
    max-width: 80px;
}


