.DFlexContainer {
    display: flex;
    gap: 4rem;
    justify-content: center;
    padding: 3rem;
    padding-bottom: 15rem;
}

.services h1 {
    padding-top: 15rem;
    color: var(--off-white);
    font-size: 3rem;
}

@media (max-width: 768px) {
    .DFlexContainer {
        display: block;
        gap: 2rem;
        justify-content: center;
        padding: 3rem;
    }

    .services h1 {
        padding-top: 8rem;
    }
}