:root {
    --darkblue:#0F2027;
    --mediumblue:#2C5364;
    --anotherblue: #203A43;
    --softblue:#4a6ef1;
    --off-white: #f2f2f2;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 90%;
}

body {
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


li {
    list-style: none;
}

a {
    text-decoration: none;

    transition: 0.3s;
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}